@charset "utf-8";

$family-sans-serif: "PingFangTC-Light","Microsoft JhengHei","Helvetica Neue","Heiti TC","微軟正黑體","Nunito",sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;

@import "vendor/bulma/bulma.sass";