@charset "utf-8";

$family-sans-serif: "PingFangTC-Light","Microsoft JhengHei","Helvetica Neue","Heiti TC","微軟正黑體","Nunito",sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;

$footer-background-color: #4a4a4a;

@import "vendor/bulma/bulma.sass";

html {
	background-color: #e9e7e0;
}
#bkContainer {
	background-color: #fff;
}